body {
	background-image: url(../img/bgc.jpg); 
}

.clearfix:after {
	content: '';
	clear: both;
	display: block;
}

.wrapper {
	width: 1000px;
	margin: 0 auto;
	background-color: white; 
	font-family: Tahoma, serif;
	color: #5fa5bb;
	box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.8);
	overflow: hidden;
}

/* HEADER */

header {
	position: relative;
	height: 176px;
}

a.logo {
	float: left;
	margin-top: 12px;
	margin-left: 27px;
}

.contacts {
	float: right;
	margin-right: 32px;
	font-size: 12px;
}

.contacts p {
	margin: 12px 0;
	font-weight: bold;
}

.contacts ul li {
	padding-bottom: 4px;
}

.contries {
	position: absolute;
	right: 32px;
	bottom: 11px;
	font-size: 10px;
}

figure {
	display: inline-block;
	padding: 0 3.5px;
	text-align: center;
}

/* MAIN */

main {
	position: relative;

}

.photo img {
	margin-top: -3px;
	border-top: 1px solid #138aa7;
	border-bottom: 1px solid #138aa7;
}

/* MENU */

.menu ul.main {
	display: block;
	background-image: linear-gradient(#303030, #373737);
	height: 28px;
	line-height: 28px;
	font-size: 14px;
	color: white;
	padding-left: 33px;
	border-bottom: 1px solid black;
}

ul.main > li {
	float: left;
	position: relative;
	margin: 0 20px;
	padding: 0 12px;
}

.submenu {
	display: none;
	position: absolute;
	width: 120%;
	left: 0; 
	background-image: linear-gradient(#303030, #373737);
}

.submenu > li {
	padding-left: 12px;
	padding-top: 10px;
	padding-bottom: 6px;
}

li:hover > .submenu {
	display: block;
	z-index: 1;
}

span {
	font-size: 11px;
}

li:hover {
	cursor: pointer;
}

/* INFO */

h1 {
	margin: 15px 50px;
	font-size: 18px;
	font-weight: bold;
}

.fon1 { 
	width: 100%;
	background: #edeef0;
	float: left; 
	position: relative; 
	right: 54%; 
	border-right: 1px solid #c7cacf;
}

.fon2 {
	width: 100%;
	background: #fff;
	float: left;
	position: relative;
	right: 23%;
	border-right: 1px solid #c7cacf;
}

.fon3 {
	width: 100%;
	background: #edeef0;
	float: left;
}

.leftColumn {
	float: left;
	width: 23%;
	overflow: hidden;
	color: #424c43;
	position: relative;
	left: 77%;
	text-align: center;
}

.centerColumn {
	width: 54%;
	float: left;
	overflow: hidden;
	position: relative;
	left: 77%;
	text-align: center;
}

.rightColumn {
	float: left;
	width: 23%;
	color: #424c43;
	overflow: hidden;
	position: relative;
	left: 77%;
	text-align: center;
}

.colomns p {
	font-size: 14px;
	line-height: 24px;
	padding-left: 17px;
	padding-right: 20px;
}

footer p {
	text-align: center;
	padding: 10px 0;
	font-size: 12px;
	color: #ffffff;
	font-family: Tahoma, serif;
}